body {
    font-family: "helvetica neue","helvetica","lucida grande",arial,sans-serif;
    color: #fff;
    background-color: #65aaba;
    -webkit-font-smoothing: antialiased;
    line-height: 1.4;
    font-size: 18px;
}

body.fullScreen {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#preso a,
#preso a:visited,
#preso a:link {
    color: #6D4927;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px solid #6D4927;
}

#preso .highlight {
    color: #8b0000;
}

/* Style for individual slides */
#preso .features img {
    display: inline-block;
    padding: 0.1em;
    margin: 0;
}

#preso .family ul li{
    display: inline-block;
    float: left;
    width: 50%;
}

#preso .googlemap3 button {
    margin: 0;
}

#preso .light-on-dark h1,
#preso .light-on-dark h3 {
    position: absolute;
    color: #fff;
    background-color: #000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: inline-block;
    padding: 0.1em 0.5em;
    opacity: 0.7;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    left: 2em;
}
#preso .light-on-dark h3 {
    position: relative;
    clear: both;
    top: 5em;
    left: 0;
}

#preso .popdevelop h1 {
    top: 2em;
    left: 50%;
}

#preso .thanks li {
    font-size:22px;
}

#preso .gis img {
    float: right;
}

/* Code font*/
#preso code,
#preso pre {
    font-family: Consolas,
             "Andale Mono",
             "Lucida Console",
             "Lucida Sans Typewriter",
             "DejaVu Sans Mono",
             "Bitstream Vera Sans Mono",
             "Liberation Mono",
             "Nimbus Mono L",
             Monaco,
             "Courier New",
             Courier,
             monospace;
    color: #000;
    padding: 0.5em;
    font-size: 18px;
    background-color: transparent;
}
#preso code {
    display: block;
    border: 1px dashed #65aaba;
    background-color: #eee;
}


/* Title sizes */
h1 { font-size: 48px; color: #31626D;}
h2 { font-size: 36px; color: #A4EEFF;}
h3 { font-size: 24px; }

/* Slide style */
#preso, .slide {
    background-color: transparent;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    height: 768px;
}

#preso, .slide {
  border: none !important;
  margin-top: -30px;
}


/* Google maps */
#preso img,
#preso .gmaps {
    margin: 1em auto;
    box-shadow: #666 0 3px 5px;
    -webkit-box-shadow: #666 0 3px 5px;
    -moz-box-shadow: #666 0 3px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background-color: #fff;
    padding: 15px;
}
.gmaps {
    width: 640px;
    height: 410px;
}
#preso .gmaps > div {
    height: 410px;
    box-shadow: none;
}

#preso .gmaps > div img {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: transparent;
}

/* Default widths */
#preso h2,
#preso ul,
#preso code {
    display: block;
    width: 580px;
    margin: 0 auto;
    text-align: left;
}

#preso ul {
    margin: 0 auto;
    text-align: left;
}

#preso ul > li {
    font-size: 28px;
    margin-bottom: 0.2em;
    align: left;
}
#preso ul > li:before { content: "» "; }

#preso ul > li > ul > li {
    margin-left: 1em;
    margin-bottom: 0.2em;
    font-size: 0.8em;
}
#preso ul > li > ul > li:before { content: "- "; }
